.header {
	border-bottom: 2px solid #4b75a4;
	padding-bottom: 0.5em;
	padding-top: 0.5em;

}
.vertical-header-list {
	margin-top: 0.9em;
}
.vertical-header-button {
	margin-top: 0.4em;
}
.button-own-header {
	background-color: #4b75a4;
	color: #fff;
	border:none;
	border-radius: 5px;
	padding: 5px 20px;
}
.button-own-header:hover {
	background-color: #000;
	color: #fff;
}